{% extends 'base.html'  %}

{% block content %}
Bem Vindo!
<div class="card">
    <div class="card-body">
        <h4>STOCKS</h4>
        <hr>
        <a class="btn btn-success" href="{% url 'home_add' %}">Adicionar</a>
        <table class="table">
            <thead>
                <tr>
                   <th>Nome</th>
                    <th>Ticker</th>
                    <th>Preço MAX</th>
                    <th>Preço MIN</th>
                    <th>Preço de Fechamento</th>
                    <th>Período de checagem</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
             <tr>
                <td>Exemplo</td>
                <td>EXMPL4.SA</td>
                <td>220</td>
                <td>50</td>
                <td>0</td>
                <td>20m</td>
                <td>
                    <button class="btn btn-warning">Editar </button>
                    <button class="btn btn-danger"> Excluir</button>
                </td>
            </tr>

            {% for stock in stocks %}
                 <tr>
                <td>{{stock.nome  }}</td>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.precomax }}</td>
                <td>{{ stock.precomin }}</td>
                <td>{{ stock.lastprice }}</td>
                 <td>{{ stock.frequencia }}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'home_edit' stock.id %}">Editar </a>
                    <a class="btn btn-danger" href="{% url 'home_delete' stock.id %}"> Excluir</a>
                </td>
            </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>

</div>

{% endblock %}